.body {
	width: 600px;
	height: 100%;
	background-color: #444444;
	padding: 10px;
}
.border {
	border: 5px solid #777777;
	height: 100%;
	margin: 20px;
}

.header {
	height: 20%;
	text-align:center;
	color: white;
	padding-top: 20px;
}

#divider {
	color: #777;
}

.title {
	font-style: italic;
}

.links {
	font-family: Helvetica;
	font-weight: 700;
	font-size: 14px;

}

a {
	color: #61C091;
}

.aboutMe {
	height: 40%;
	padding: 10px 30px 0 30px;
	color: white;
	line-height: 22px;

}

.oldWoman {
	width: 35%;
	float: right;
	padding: 4px;
	border: 1px solid #999999;
	margin-left: 15px;
	margin-bottom: 15px;
}

.aboutMeTitle {
	font-family: Helvetica;
	font-size: 20px;

}

.aboutMeText {
	font-size: 14px;
}

.aboutMeTextTwo {
	font-size: 14px;
}


.socialMedia {
	height: 20%;
	text-align:center;
	padding: 20px 20px 40px 20px;
	color: #8E8E8E;
	font-family: Helvetica;
	font-weight: 700;
	font-size: 14px;
}

hr {
	margin: 0 30px 0 30px;
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #777777;
    padding: 0; 

}





